.main-header {
  background-image: url('./assets/bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -80px;
}

@media only screen and (max-width: 600px) {
  .main-header {
    background: none;
  }
}
